* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
 
  background-size: cover;
  background-attachment: fixed;
  background-image: url('fondo.png');
  background-position: center;
  background-attachment: local;
  background-size: 1400px;
}

header {
  text-align: center;
  position: relative;
  color: #B98E58;
  padding: 20px;
}

header img {
  max-height: 200Spx;
  object-fit: cover;
  width: 100%;
}

footer {
  background-color: white;
  color: #B98E58;
  text-align: center;
  padding: 20px;
}

footer img {
  max-height: 200px;
  object-fit: cover;
  width: 100%;
  display: block;
}
div{
    text-align: center;
    padding: 10px;
    background-color: #7F0D31;
    color: #B98E58;
    font-family: 'Open Sans', 'sans-serif';
}
section {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #666;
}

input[type="text"], select {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

input[type="checkbox"] {
  margin-right: 10px;
  transform: scale(1.2);
}

.panel {
    display: none;
  padding: 20px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  animation: fadeIn 0.4s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-image: url('panel.png');
  background-size: cover;
}

.button {
  background-color: #7F0D31;
  color: #B98E58;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  background-image: url('boton.jpg');
  background-size: cover;
}

.button:hover {
  background-color: #7F0D31;
}

.panel {
  animation: fadeIn 0.5s ease;
}



@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}